<div class="container-fluid footer">
  <div class="row-fluid">
    <div class="col-sm-12">
      <div class="col-sm-6 profile">
        <p>MASSACHUSETTS INSTITUTE OF TECHNOLOGY<br> 77 MASSACHUSETTS AVENUE<br> CAMBRIDGE MA 02139-4307.</p>
      </div>
      <div class="col-sm-6 links" style="margin-top:1em;">
        <p><a href="https://libraries.mit.edu/distinctive-collections/ask/">Get Reference Help</a> | <a href="mailto:archivesspace-help@mit.edu"​>Submit a Correction</a></p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
        <br>Metadata licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/"> Creative Commons Attribution Non-Commercial License</a>.
      </div>
    </div>
  </div>
</div>


