<section id="header">
  <div class="row">
    <div class="col-sm-12 h1">
      <a href="https://libraries.mit.edu/"><img src="/assets/mit-libraries.png"></a><a href="/"><%= image_tag "#{AppConfig[:public_proxy_prefix]}assets/mit-aspace.png", :alt => I18n.t("brand.title") %></a>
    </div>
  </div>
</section>

