<!-- Custom MIT -->
<div class="container">
  <div class="row-fluid">
    <div class="span6">
    </div>
    <div class="span6" id="footer_links">
<!-- Footer -->
	<br>
	<p><a href="http://libguides.mit.edu/EMMAS_guide/">Learn more or get help</a> | <a href="https://libraries.mit.edu">MIT Libraries</a> | View <a href="https://emmas-lib.mit.edu">Public Interface</a></p>
	<br>
</div>
    <div class="span8" id="footer_links">
	<br>
	<p>MASSACHUSETTS INSTITUTE OF TECHNOLOGY <br>77 MASSACHUSETTS AVENUE<br> CAMBRIDGE MA 02139-4307</p>
<!-- Footer -->
    </div>
  </div>
</div>
<!-- End Custom MIT -->

